.navigation{
    display: flex;
    justify-content: space-between;

}
.navigation ul{
    list-style-type: none;
    display: flex;
}
.list{
    margin:30px
}
button{
    cursor: pointer;
}
.footer{
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
}
.footer .info{
    display: flex;
    justify-content: space-between;
}
.copyright{
    display: flex;
    justify-content: center;
}
.Descriptions{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}
#title{
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}
.profiles img{
    border-radius: 15px;
    box-shadow: 4px 4px 6px black;
}
.profiles{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 7em;
    margin-left: 7em;
}
.artistprofile{
    background-color: darkgray;
}

/*banner*/

.banner{
    position: relative;
    height: 300px;
    width: 80%;
    margin: 0 auto;
}
.bannerimage{
    width: 80%;
    height: 50%;
}
.banner_track-container{
    background: darkgray;
    height: 100%;
}
.banner_track{
    padding: 0;
    margin: 0;
    list-style: none;
}
